#authorizationSection {
  grid-template:
    "authorizationHeading authorizationHeading authorizationHeading authorizationHeading"
    "clientIDLabel clientIDInput clientIDInput clientIDInput"
    "redirectURILabel redirectURIInput redirectURIInput redirectURIInput"
    "authCodeLabel authCodeInput authCodeInput authCodeInput"
    ". getAuthCodeButton requestTokenButton refreshTokenButton"
    / max-content auto auto auto;
}

#authorizationHeading {
  grid-area: authorizationHeading;
}

#clientIDLabel {
  grid-area: clientIDLabel;
}

#clientIDInput {
  grid-area: clientIDInput;
}

#redirectURILabel {
  grid-area: redirectURILabel;
}

#redirectURIInput {
  grid-area: redirectURIInput;
}

#authCodeLabel {
  grid-area: authCodeLabel;
}

#authCodeInput {
  grid-area: authCodeInput;
}

#getAuthCodeButton {
  grid-area: getAuthCodeButton;
}

#requestTokenButton {
  grid-area: requestTokenButton;
}

#refreshTokenButton {
  grid-area: refreshTokenButton;
}