body {
  font-size: 9pt;
  margin: 0 auto;
  max-width: 80em;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

button.icon {
  border: none;
  padding: 0;
  width: 1.3333em;
  height: 1.3333em;
  background-size: contain;
}

button.add {
  background-image: url(../img/add-1.svg);
}

button.delete {
  background-image: url(../img/delete-1.svg);
}

button.go {
  background-image: url(../img/play-1.svg);
}

button.stop {
  background-image: url(../img/stop-1.svg);
}

button.pause {
  background-image: url(../img/pause-1.svg);
}

#titleHeading {
  text-align: center;
}

.panel {
  display: grid;
  font-size: 1em;
  margin-bottom: 1.5em;
  border: 1px solid;
  padding: .5em;
  grid-gap: .5em;
}

.panel > label,
.panel > div {
  align-self: center;
  font-weight: bold;
}

.panel input {
  border: 1px solid;
}

#listSection {
  grid-row-gap: 0;
  padding-bottom: 0;
}

.panel > h1 {
  font-size: 1em;
  margin: -.5em -.5em 0;
  border-bottom: 1px solid;
  padding: .2em .5em;
}

.panel > .titleControl {
  display: grid;
  grid-column-gap: .5em;
  justify-content: right;
  grid-column-start: 2;
  margin: -.5em -.5em 0;
  border-bottom: 1px solid;
  padding: .1333em .5em;
  text-align: right;
}

.panel > .titleControl > .break {
  margin-right: .8333em;
}

.panel > .titleControl > input.break,
.panel > .titleControl > select.break {
  margin-right: .9259em;
}

.panel > .titleControl > .last {
  margin-right: -.5em;
}

.panel > .titleControl > input {
  padding: 0 .5em;
  font-size: .9em;
}

.panel > .titleControl > input.symbol {
  width: 5em;
  font-weight: bold;
  text-align: center;
}

.panel > .titleControl > input.date {
  height: 1.3333em;
}

.panel > .titleControl > select {
  font-size: .9em;
  height: 1.482em;
  border: 1px solid;
}

.subPanel {
  display: grid;
  margin-left: -.5em;
  margin-right: -.5em;
  grid-gap: 0;
}

.subPanel > label,
.subPanel > div {
  padding-left: .5em;
  padding-right: .5em;
}

#listHeaderDiv {
  grid-column: span 2;
  border-bottom: 1px solid;
}

#listHeaderDiv > label {
  border-left: 1px solid;
  padding-top: .2em;
  padding-bottom: .2em;
}

#listHeaderDiv > label:first-child {
  grid-column: span 2;
  border: none;
}

.listRow {
  grid-column: span 2;
}

.underlying {
  border-bottom: 1px solid;
  padding: .2em 0;
}

.underlying > button.icon {
  margin-top: -.1em;
  margin-bottom: -.1em;
}

.underlying > input.targetValue {
  justify-self: right;
}

.option {
  border-bottom: 1px solid;
  padding: .05em 0;
}

.option .stratValue {
  grid-column: span 2;
}

.option input.targetValue {
  margin-right: .5556em;
  align-self: center;
  justify-self: right;
}

.text {
  text-align: center;
}

.numeric {
  text-align: right;
}