#listHeaderDiv {
  grid-template-columns: repeat(11, 1fr);
}

.underlying {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: .1em;
  padding-bottom: .1em;
  grid-template:
    'symbolValue lastValue lastValue last sdValue sdValue sd sd . volmValue volmValue volm . exp exp expValue expValue expValue . .'
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.underlying > div {
  font-weight: bold;
}

.underlying > .symbolValue {
  grid-area: symbolValue;
}

.underlying > .last {
  grid-area: last;
}

.underlying > .lastValue {
  grid-area: lastValue;
  text-align: right;
}

.underlying > .sd {
  grid-area: sd;
}

.underlying > .sdValue {
  grid-area: sdValue;
  text-align: right;
}

.underlying > .volm {
  grid-area: volm;
}

.underlying > .volmValue {
  grid-area: volmValue;
  text-align: right;
}

.underlying > .exp {
  grid-area: exp;
  text-align: right;
}

.underlying > .expValue {
  grid-area: expValue;
}

.option {
  grid-template-columns: repeat(11, 1fr);
}